  <div class="container-fluid d-flex">
  <div class="card-body dashboard">

    <div class="row mx-3 my-5">
      <div class="sidebar position-absolute d-flex mx-2 justify-content-between flex-column flex-shrink-0 p-3" style="width: 280px; height:400px">
        <a href="/dashboard/create"><button type="button" id ='new-entry' style="color: #2e424d;background-color:#98DAD9; font-family: 'Courgette', cursive;" class="landing-btn my-4 btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
          Create Entry
        </button>
        <a href="/dashboard"><button type="button" style="color: #2e424d;background-color:#98DAD9; font-family: 'Courgette', cursive;"class="landing-btn my-4 btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
          My Feed
        </button></a>
        <a href="/"><button type="button" style="color: #2e424d;background-color:#98DAD9; font-family: 'Courgette', cursive;" class="landing-btn my-4 btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
          All Users
        </button></a>
        <button id="logout"type="button" style="color: #2e424d;background-color:#98DAD9; font-family: 'Courgette', cursive;" class="landing-btn my-4 btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
          Sign Out
        </button>
        <a href="/dashboard/profile/{{user_id}}">
        <button id="myAccount" type="button" style="color: #2e424d;background-color:#98DAD9; font-family: 'Courgette', cursive;" class="landing-btn my-4 btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
          My Profile
        </button></a>
        </div>

<div class="container d-flex-col col-8">
{{#each entries as |entry|}}
<div>
    {{> indEntry entry}}
</div>

    {{> indComment entry.comments}}
{{/each}}
</div>

<script src="/js/addCommentNonSingle.js"></script>