

<div class="row jumborow">
<div class="jumbotron text-center mx-4 col-12">
  <br>
  <img class="landing-img"src="/img/logo.jpg" alt="Day In The Life">
  <br>
  <p class="lead  ">Keep track of all your days.</p>
  <hr class="my-4">
  <div class="container btn-container col-1  d-flex flex-column py-2">
  <a href='/login'><button type="button"  class= 'landing-btn' data-toggle="button" aria-pressed="false" autocomplete="off">
    Login
  </button></a>
  <br>
  <a href="/signup"><button type="button" class="landing-btn" data-toggle="button" aria-pressed="false" autocomplete="off">
    Sign-up
  </button></a>
  </div>
</div>
</div>

</div>



