  {{!-- <div class="card">
        <h5 class="card-header">Sign Up</h5>
        <form class="card-body" id="signupForm">
          <div class="mb-3">
            <label for="newUserEmail" class="form-label">Whats your name? </label>
            <input type="text" class="form-control" id="newName">
          </div>
           <div class="mb-3">
            <label for="newUserEmail" class="form-label">What will your user name be? </label>
            <input type="text" class="form-control" id="newUserName">
          </div>
           <div class="mb-3">
            <label for="newUserEmail" class="form-label">Email address: </label>
            <input type="email" class="form-control" id="newUserEmail">
          </div>
          <div class="mb-3">
            <label for="userName" class="form-label">Tell us a little about yourself: </label>
            <input type="text" class="form-control" id="userBio">
          </div>
           <div class="mb-3">
            <label for="newUserEmail" class="form-label">Whats your location? </label>
            <input type="text" class="form-control" id="userLocation">
          </div>
          <div class="mb-3">
            <label for="newUserPassword" class="form-label">Password: (must be atleast 8 character in length)</label>
            <input type="password" class="form-control" id="newUserPassword">
          </div>
          <button type="submit" class="btn btn-dark mb-3">Submit</button>    already signed up?<a href="/login">click here to log in</a>
        </form>
      </div> --}}

 <div class="form-box">
        <form id="signupForm" enctype="multipart/form-data">
        <h1 class="page-title">New User Sign Up</h1>
        <div class="line"></div>      
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="newName" name="user_name"><br><br>
            </div>

            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="newUserName" name="user_username" required><br><br>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="newUserEmail" name="user_email" required><br><br>

            </div>
            
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="newUserPassword" name="user_password" required><br><br>
            </div>

            <div class="form-group">
                <input type="checkbox" id="show-password">
                <label for="show-password">Show password</label>
            </div>
            
            <div class="form-group">
                <label for="location">Location:</label>
                <input type="text" id="userLocation" name="user_location"><br><br>
            </div>
            
            <div class="form-bio">
                <label for="bio">Bio:</label>
                    <br>
                <textarea id="userBio" name="userBio" rows="10" cols="30" placeholder="Let'us know about you "></textarea><br><br>
            </div>
            <input type="submit" value="Submit">
            
        </form>
    </div>
  </body>
</html>
<script type="text/javascript" src="/js/signup.js"></script>

   